<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
  </head>
  <body>
	<% include header %>	
	<div class='container'>
		<%- include(page)%>	
	</div>
   </body>
</html>
