<!doctype html>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<div>
	<h1><%= room.name %></h1>
</div>

<table id="messages" class="table">
</table>

<form action="">
    <input id = "message"/>
    <button class="btn btn-success">Send</button>
</form>

  
  
<script>
  	var socket = io();

  	$('form').submit(function(){
    		socket.emit('send', <%- JSON.stringify(user) %>, <%= room.id %>, $('#message').val());	
    		$('#message').val('');
    		return false;
  	});

	socket.on('send', function(sender, msg){
		var str = '<tr><td width="10%">'+ sender.name + ': </td><td>' + msg  + '</td>';
		$('#messages').append(str);
	});
	
	$( document ).ready(function() { 
   		 socket.emit('join', <%= room.id %>);
	});
</script>


