<!doctype html>
<table>
  <% for (var i in rooms) { %>
     <tr>
       <td><%= rooms[i].id %></td>
       <td><%= rooms[i].name %></td>
       <td><a href='/chat?id=<%= rooms[i]._id %>&name=<%= rooms[i].name %>' class='btn btn-default'></a></td>
     </tr>
  <% } %>
</table>

<form acion='/rooms' method='post'>
	<input type='text' name='room_name'/>
	<button type='submit'>Create Room</button>
</form>
